---
// src/components/Calendario.astro
import CalendarioReact from './CalendarioReact.tsx';

const fechasOcupadas = ["2025-01-11", "2025-01-12", "2025-01-13", "2025-01-14", "2025-01-18", "2025-01-19", "2025-01-20","2025-01-25","2025-01-26","2025-01-27","2025-01-28","2025-01-30","2025-01-31","2025-02-01","2025-02-02","2025-02-05","2025-02-06", "2025-02-07","2025-02-08", "2025-02-09", "2025-02-12", "2025-02-14", "2025-02-15", "2025-02-22", "2025-03-15", "2025-03-22"];
---
<section class="calendario" id="calendario">
<h2 >Calendario</h2>
<div class="calendario-container">
  <CalendarioReact client:load ocupados={fechasOcupadas} />
</div>
</section>


<style>
  .calendario {
    padding: 25px 20px;
    text-align: center;
    width: 100%;
  }
  .calendario h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #343a40;
  }


  .calendario-container {
    max-width: 1000px;
    margin: 0 auto 80px;
    padding: 20px;
  }
</style>
