---
// src/components/Calendario.astro
import CalendarioReact from './CalendarioReact.tsx';

const fechasOcupadas = ["11-01-2025", "12-01-2025", "13-01-2025", "14-01-2025", "15-01-2025", "16-01-2025", "18-01-2025", "19-01-2025", "20-01-2025","25-01-2025","26-01-2025","27-01-2025","28-01-2025" , "30-01-2025", "31-01-2025", "01-02-2025", "02-02-2025", "05-02-2025", "06-02-2025", "07-02-2025", "08-02-2025", "09-02-2025", "12-02-2025", "14-02-2025", "15-02-2025", "22-02-2025",
"15-03-2025", "22-03-2025"];
---
<section class="calendario" id="calendario">
<h2 >Calendario</h2>
<div class="calendario-container">
  <CalendarioReact client:load ocupados={fechasOcupadas} />
</div>
</section>


<style>
  .calendario {
    padding: 25px 20px;
    text-align: center;
    width: 100%;
  }
  .calendario h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #343a40;
  }


  .calendario-container {
    max-width: 1000px;
    margin: 0 auto 80px;
    padding: 20px;
  }
</style>
