.calendar-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fc-toolbar {
  background-color: #133c55;
  color: #fff;
  border-radius: 8px 8px 0 0;
  padding: 10px;
}

.fc-daygrid-day-number {
  color: #333;
  font-weight: bold;
}

.fc-daygrid-event {
  background-color: #dc3545;
  border: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .calendar-container {
    padding: 10px;
    max-width: 100%; /* Asegura que el ancho no exceda */
    overflow: hidden; /* Elimina el scroll */
    height: auto; /* Ajusta la altura automáticamente */
  }

  .fc {
    font-size: 0.9em; /* Reduce el tamaño del texto en general */
  }

  .fc-daygrid-event {
    font-size: 0.75em; /* Reduce el tamaño del evento */
  }

  .fc-toolbar-title {
    font-size: 1em; /* Ajusta el tamaño del título */
  }
}

@media (max-width: 480px) {
  .calendar-container {
    padding: 5px;
    max-width: 100%;
    overflow: hidden;
    height: auto;
  }

  .fc {
    font-size: 0.8em; /* Ajusta aún más para pantallas pequeñas */
  }

  .fc-daygrid-event {
    font-size: 0.65em; /* Más compacto */
  }

  .fc-toolbar-title {
    font-size: 0.9em;
  }
}
