---
// src/components/Calendario.astro
import CalendarioReact from './CalendarioReact.tsx';

const fechasOcupadas = ["2024-10-05", "2024-10-06", "2024-10-12","2024-10-13","2024-10-19","2024-10-26","2024-10-31","2024-11-10","2024-11-16","2024-11-17","2024-12-21","2025-01-18","2025-02-01","2025-02-12",];
---
<section class="calendario" id="calendario">
<h2 >Calendario</h2>
<div class="calendario-container">
  <CalendarioReact client:load ocupados={fechasOcupadas} />
</div>
</section>


<style>
  .calendario {
    padding: 25px 20px;
    text-align: center;
    width: 100%;
  }
  .calendario h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #343a40;
  }


  .calendario-container {
    max-width: 1000px;
    margin: 0 auto 80px;
    padding: 20px;
  }
</style>
