---
---

<section id="#inicio" class="inicio">
  <article class="hero-image">
    <aside class="hero-image-opacity">
      <div class="content">
        <h2 class="content-title">Bienvenidxs</h2>
        <a href="#calendario" class="btn">RESERVAS</a>
      </div>
    </aside>
  </article>
</section>

<style>
  /**Componente Hero-Image */
.hero-image{
  background-image: url(../assets/Quinta.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-image-opacity{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.content-title{
  font-size: 7vw;
  color: whitesmoke;
}


.btn{
    display: inline-block;
    width: 200px;
    padding: 16px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #59A5D8;
  }
</style>