---
interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>{title}</title>
    <link rel="icon" href="/La-Ponderosa/favicon-32x32.png" type="image/x-icon">
    
    <!-- Meta etiquetas Open Graph -->
    <meta property="og:title" content="La Ponderosa" />
    <meta property="og:description" content="Te ofrece todo lo que necesitas para un día perfecto: piscina, parrilla, juegos y espacios para descansar. Reserva tu día y vive una experiencia única. Ideal para escapadas, reuniones y celebraciones. ¡No te lo pierdas!" />
    <meta property="og:image" content="/La-Ponderosa/Ponderosa-preview.jpg" />
    <meta property="og:url" content="https://leonardo-rozza.github.io/La-Ponderosa/" />
    <meta property="og:type" content="website" />

    <!-- Meta etiquetas para Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="La ponderosa" />
    <meta name="twitter:description" content="Te ofrece todo lo que necesitas para un día perfecto: piscina, parrilla, juegos y espacios para descansar. Reserva tu día y vive una experiencia única. Ideal para escapadas, reuniones y celebraciones. ¡No te lo pierdas!" />
    <meta name="twitter:image" content="/La-Ponderosa/Ponderosa-preview.jpg" />
	</head>
	<body>
    <header class="header">
      <section class="container" >
        <div class="logo">
          <a href="#">La Ponderosa</a>
        </div>
        <button class="menu-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M4 6H20V8H4zM4 11H20V13H4zM4 16H20V18H4z" />
        </svg>
        <svg class="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
        </svg>
        </button>
        <nav class="menu">
          <a href="/La-Ponderosa/#como-llegar">Cómo llegar</a>
          <a href="/La-Ponderosa/#calendario">Calendario</a>
          <a href="/La-Ponderosa/#servicios">Servicios</a>
          <a href="/La-Ponderosa/#galeria">Galería</a>
        </nav>
      </section>
    </header>
		<slot />
    <script src="../components/menu.ts"></script>
    <script src="../components/manejo-carrusel.ts"></script>
	</body>
</html>
<style is:global>
         /** Reset  */
:root{
  --first-color: #06b6d4;
  --second-color: #0f172a;
  --third-color: #1e293b;
  --link-color: #0ea5e9;
  --font : "Poppins", sans-serif;
  --max-width: 1500px;
  --bottom-bar-height: 56px;
}

html{
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font);
  scroll-behavior: smooth;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  margin: 0;
  overflow-x: hidden;
  background-color: #f8f9fa;

}

img{
  max-width: 100%;
  height: auto;
}

a{
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

/* a:hover{
  opacity: 0.50;
} */

p{
  line-height: 1.6;
}

.hidden{
  display: none;
}

/** Menu */
.menu-btn{ 
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}

.menu-btn svg{
  fill: var(--first-color);
}

.menu{
  position: fixed;
  left: 0;
  top: 64px;
  width: 100%;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease;
}

.menu.is-active{
  opacity: 1;
  pointer-events: auto;
}


.menu a{
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover{
  color: white;
  background-color: var(--first-color);
}

@media screen and (min-width:1024px) {
  .menu-btn{
    display: none;
  }

  .menu{
    position: static;
    opacity: 1;
    pointer-events: auto;
    width: auto;
    flex-direction: row;
  }

  .menu a{
    padding: 0 16px;
  }

  .menu a:hover{
    background-color: transparent;
  }

  .menu a:last-child{
    padding-right: 0;
  }
}


/** Styles Menu*/

.container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.none {
  display: none;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 16px;
  width: 100%;
  height: 64px;
  background-color: var(--second-color);
}

.header > .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--first-color);
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (min-width:1024px) {
  .header{
    position: sticky;
    bottom: 0;
    padding: 8px;
    height: 56px;
  }
}
</style>
