---
interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
    <header class="header">
      <section class="container" >
        <div class="logo">
          <a href="index.html">La Ponderosa</a>
        </div>
        <button class="menu-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M4 6H20V8H4zM4 11H20V13H4zM4 16H20V18H4z" />
        </svg>
        <svg class="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
        </svg>
        </button>
        <nav class="menu">
          <a href="#como-llegar">Cómo llegar</a>
          <a href="#calendario">Calendario</a>
          <a href="#servicios">Servicios</a>
          <a href="#galeria">Galería</a>
          <a href="#contacto">Contacto</a>
        </nav>
      </section>
    </header>
		<slot />
    <script src="../../src/menu.ts"></script>
	</body>
</html>
<style is:global>
         /** Reset  */
:root{
  --first-color: #59A5D8;
  --second-color: #042c52;
  --third-color: #133C55;
  --link-color: #2e78b8;
  --font : "Raleway", sans-serif;
  --max-width: 1200px;
}

html{
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font);
  scroll-behavior: smooth;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  margin: 0;
  overflow-x: hidden;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover{
  opacity: 0.50;
}

p{
  line-height: 1.6;
}

/** Menu */
.menu-btn{ 
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}

.menu-btn svg{
  fill: var(--first-color);
}

.menu{
  position: fixed;
  left: 0;
  bottom: 64px; /**A la altura del Header */
  width: 100%;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease;
}

.menu.is-active{
  opacity: 1;
  pointer-events: auto;
}


.menu a{
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover{
  color: white;
  background-color: var(--first-color);
}

@media screen and (min-width:1024px) {
  .menu-btn{
    display: none;
  }

  .menu{
    position: static;
    opacity: 1;
    pointer-events: auto;
    width: auto;
    flex-direction: row;
  }

  .menu a{
    padding: 0 16px;
  }

  .menu a:hover{
    background-color: transparent;
  }

  .menu a:last-child{
    padding-right: 0;
  }
}


/** Styles Menu*/

.container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.none {
  display: none;
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
  padding: 16px;
  width: 100%;
  height: 64px;
  background-color: var(--second-color);
}

.header > .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--first-color);
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (min-width:1024px) {
  .header{
    position: sticky;
    top: 0;
    padding: 8px;
    height: 56px;
  }
}


</style>
